/*Tiles.css*/

.todotile{
    text-align:left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding:1.5em;
    margin:1em;
}
.todooperation{
    float:right;
}
.deletebutton{
 background: url("https://cdn1.iconfinder.com/data/icons/color-bold-style/21/56-512.png") no-repeat;
 background-size: 100%;
 width:2.5em;
 height:2.5em;
 margin-left:1em;
 border: none;
 }
.editbutton{
 background: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698400-icon-136-document-edit-512.png") no-repeat;
 background-size:98%;
 width:2.5em;
 height:2.5em;
 border: none;
 margin-left:2em;
}
i{
    font-size:.7em;
}
@media screen and (max-width:720px){
    .todotile{
        flex:1 0 50%;
    }
}